*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: hsl(233, 47%, 7%);
}
p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.6);
}
.flex__container{
    display: flex;
    height: 100vh;
}
.flex__card-container{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    margin: auto;
    max-width: 1000px;
    min-height: 440px;
    border-radius: 10px;
}
.flex__card-text{
    width: 50%;
    padding: 45px;
}
.flex__card-img-container{
    width: 50%;
}
.flex__img{
    filter: brightness(30%) sepia(100%) hue-rotate(-130deg) saturate(600%) contrast(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}
.flex__card-title-h2{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0px;
}
.flex__card-title-h2 b > b{
    color: hsl(277, 64%, 61%);
}
.flex__card-p{
    padding: 10px 60px 10px 0px;
    font-weight: 400;
}
.flex__grid-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.grid-container__b-title{
    color: #fff;
    font-size: 25px;
}
@media screen and (max-width: 800px) {
    
    .flex__card-container{
        flex-direction: column-reverse;
        min-width: 300px;
        max-height: 600px;
        margin: auto 30px;
    }
    .flex__card-text{
        width: 100%;
        padding: 0;
    }
    .flex__card-img-container{
        width: 100%;
        height: 40%;
    }
    .flex__img{
        border-radius: 10px 10px 0 0;
    }
    .flex__card-title-h2{
        text-align: center;
        padding: 10px;
        font-size: 28px;
    }
    .flex__card-p{
        padding: 0;
        text-align: center;
        font-weight: 400;
    }
    .flex__grid-container{
        justify-items: center;
        margin: 40px 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 5px;
    }
    .grid-container__p{
        font-size: 12px;
    }
    .grid-container__b-title{
        color: #fff;
        font-size: 20px;
    }
    .grid-container__p:nth-child(4){
        grid-row: 2 / 3;
    }
    .grid-container__p:nth-child(5){
        grid-row: 4 / 5;
    }
    
}

